---
title: Generic UI - headers
---

<script>
    import {Header} from '@chimps/genericui'
</script>

Headers are basically h1 with a small twist, it also can set the page title through the property `makePageTitle`. It adds no padding or margin.

```html
    <Header title="Fancy title!" makePageTitle={false} />
```

<div class="example">
    <Header title="Fancy title!" makePageTitle={false} />
</div>