---
title: Chimps - Generic UI
---

<script>
    import {Header} from '@chimps/genericui'
</script>

A few somewhat generic components to get you somewhere, somewhat fast.

Components are grouped as follows:

* Layout - which will contain layout components, like columns, rows and panel.
* Components - which contains standard components like headers, tables & buttons.
* Form - which contains components used in forms.
