---
title: Generic UI - Sub headers
---

<script>
    import {SubHeader} from '@chimps/genericui'
</script>

Sub headers are simply an h3 tag. They are sparsely styled and will use up all x led space.

```html
    <SubHeader title="Sub header" />
```

<div class="example">
    <SubHeader title="Sub header" />
</div>